<h1>let's choose restaurant:</h1>

<div class = "float-left text-left">
<% @restaurants.each do |restaurant| %>
	<h4>
	<%= link_to(restaurant.name, restaurant_path(restaurant))  %>
	</h4>
<%end%>
</div>