:css
  body {
            background: url(/assets/background.jpg) no-repeat center center fixed;
            background-size: cover
  }
  
  div.cover-container {
    width: 60%;
    color: #fff;
    margin: 15% auto;
  }
  p.lead{
    font-size: 100%
  }
.cover-container
  .inner.cover
    %h1.cover-heading Choose and order your lunch
    %p.lead What could be better than to order a lunch? We also think that nothing and are ready to help you in your choice. Our service allows you to pick lunch to your taste. First course, main course and drink.
    %p.lead
      %a.btn.btn-lg.btn-light{:href => "/users/sign_up"} Try now!
