<%= render 'layouts/menu'%>
<h2>List of customers:</h2>


<table>
    <thead>
      <tr>
        <th>Email</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
<% @customers.each do |customer| %>
	<tr>
		<td><%= customer.email %></td>
		<td><%= customer.name %></td>
	</tr>
<%end%>
	</tbody>
</table>