<%= javascript_include_tag( 'set_date_order_link.js' ) %>

<div>
<input readonly="true" id = "date" type="text" data-provide='datepicker' data-date-format="dd mm yy">
	<a href = "/orders/" id = "change_date" class = "btn btn-secondary"> Change date</a>
</div>


<script type="text/javascript">



</script>