<h1>let's choose restaurant:</h1>

<div class = "float-left text-left">
<% @restaurants.each do |restaurant| %>
	<h5>
	<%= link_to(restaurant.name, restaurant_path(restaurant))  %>
	</h5>
<%end%>
<div class = "digg_pagination">
  <%= will_paginate @restaurants %>  
</div>
</div>