.row {
  margin-top: 15%;
  margin-bottom: 20%;
  margin-left: auto;
  margin-right: auto;
}

.border-round {
  border-radius: 15px 50px 30px;
}

.bg-active {
  background: url(/assets/greenBG.jpg);
  &:hover {
    cursor: pointer;
  }
}

.bg-today {
  background: url(/assets/todayBG.jpg);
  &:hover {
    cursor: pointer;
  }
}

.bg-secondary {
  background: url(/assets/grayBG.jpg);
  &:hover {
    cursor: not-allowed;
  }
}